@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.header {
  height: 30%;
  background: v.$headerBackground
    url('../images/pattern-bg.png') 
    no-repeat 
    center / cover;

  h1 {
    text-align: center;
    font-size: 3.2rem;
    color: mx.textColor(v.$headerBackground);
    padding-block-start: 3rem;
  }
}